{% extends "forest/layout.html" %}

{% block title %} Login {% endblock %}

{% block body %}

    <div class="container text-center text-white">
        <header>
            <h1>Welcome back!</h1>
        </header>

        <main class="d-flex justify-content-center" style="margin-top: 30px;">

            {% if error %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
            {% endif %}

            <div class="col-md-4">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-primary">Log in</button>
                    </div>
                </form>

                <section>
                    <article>Create your account for free <span class="badge bg-light text-dark">
                        <a href="{% url 'register' %}">click here</a>
                    </span></article>
                </section>

            </div>
        </main>

    </div>    
{% endblock %}