body {
    background-color: #212121;
}

.dropup .dropdown-menu {
    margin-left: -11rem;
}

.card-body {
    color: #000;
}

.col {
    margin-bottom: 20px;
}

.page:hover {
    animation: page-content 0.3s forwards;
}

.btn-block {
    width: 100% !important;
}

.img-thumbnail {
    background-color: transparent;
    border: none;
    padding: 0px;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid white;
    margin-top: -20px;
}

.features-icon {
    color: #398754;
    margin-top: 50px;
}

.jumbotron {
    padding: 30px;
}

.jumbotron > header {
    padding: 50px;
}

svg {
    margin-bottom: -6%;
}

footer {
    position: relative;
    padding-top: 40px;
    background-color: #212121;
}

.list-group-item {
    background-color: #323232;
    transition: ease-in-out 0.1s;
    text-align: left;
}

.list-group-item:hover {
    background-color: #398754;
    cursor: pointer;
}

#bottomFooter {
    padding: 20px;
    text-align: center;
    background-color: #121212;
    color: #fff;
}

#goTop {
    position: absolute;
    top: 0;
    left: 49%;
}

#goTop > .btn {
    background-color: #323232;
    border: none;
}

#goTop > .btn:hover {
    background-color: #343434;
}

.list-group a {
    color: #fff;
    text-decoration: none;
}

.authenticate {
    margin-top: 40px;
}

.bg-dark {
    background-color: #343434 !important;
}

.Rejected {
    color: orange;
}

.Blocked {
    color: red;
}

@keyframes page-content {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0); 
    }
}

@media screen and (max-width: 990px) {
    footer .col-md-4:first-child {
        width: 100% !important;
    }
    footer .col-md-4 {
        width: 40%;
        margin: 20px;
    }
}

@media only screen and (max-width: 763px) {
    #goTop {
        left: 45%;
    }
    footer .col-md-4 {
        width: 100%;
        margin: 20px;
    }
}