{% extends "forest/layout.html" %}

{% block title %} Home {% endblock %}
{% load fontawesome_5 static %}

{% block body %}
    {% fontawesome_5_static %} 
    <nav class="navbar navbar-dark bg-success navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ForestLink</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">{% fa5_icon 'home' 'fas' %} Home page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" id="edit" value="off">{% fa5_icon 'pen' 'fas' %} <b>About</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">{% fa5_icon 'align-right' 'fas' %} Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">{% fa5_icon 'play' 'fas' %} Get started</a>
                </li>
              </ul>

              <span class="navbar-text">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hi, <b>{{ user.username }}</b>!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{% fa5_icon 'desktop' 'fas' %} Your desktop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">{% fa5_icon 'sign-out-alt' 'fas' %} Logout</a>
                    </li>   
                  {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">{% fa5_icon 'user' 'fas' %} Login</a>
                    </li>   
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">{% fa5_icon 'user-plus' 'fas' %} Register</a>
                    </li>   
                  {% endif %}  
                </ul>             
              </span>

            </div>
        </div>
    </nav>
    
    <main>
        <section id="header">
            <div class="jumbotron text-center bg-light">
                <header>
                    <img src="{% static 'forest/images/logo.png' %}" class="img-thumbnail" alt="ForestTree logo">
                    <h2 class="text-uppercase">
                      <span class="badge bg-success">Create your own desktop with pages!</span>
                    </h2>
                </header>
            </div>
        </section>

        <section id="about" class="bg-success">
            <div class="triangle-down mx-auto"></div>
            <div class="jumbotron container text-center text-white">
                <header>
                    <h1>What is ForestLink?</h1>
                </header>

                <article>
                    <p>
                        {% lorem 2 b random %}
                    </p>
                </article>                
            </div>
        </section>

    </main>

{% endblock %}