{% extends "forest/layout.html" %}

{% block title %} Home {% endblock %}
{% load fontawesome_5 static %}

{% block addons %}
  <script src="{% static 'forest/js/scrolling.js' %}"></script>
{% endblock %}

{% block body %}
    {% fontawesome_5_static %} 
    <nav class="navbar navbar-dark bg-success navbar-expand-lg" id="top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ForestLink</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">{% fa5_icon 'home' 'fas' %} Home page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link page1" href="#">{% fa5_icon 'pen' 'fas' %} <b>About</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link page2" href="#">{% fa5_icon 'align-right' 'fas' %} Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link page3" href="#">{% fa5_icon 'play' 'fas' %} Get started</a>
                </li>
              </ul>

              <span class="navbar-text">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hi, <b>{{ user.username }}</b>!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user' %}">{% fa5_icon 'desktop' 'fas' %} Your desktop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">{% fa5_icon 'sign-out-alt' 'fas' %} Logout</a>
                    </li>   
                  {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">{% fa5_icon 'user' 'fas' %} Login</a>
                    </li>   
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">{% fa5_icon 'user-plus' 'fas' %} Register</a>
                    </li>   
                  {% endif %}  
                </ul>             
              </span>

            </div>
        </div>
    </nav>
    
    <main class="bg-success">
        <section>
            <div class="jumbotron text-center bg-light">
                <header>
                    <img src="{% static 'forest/images/logo.png' %}" class="img-thumbnail" alt="ForestTree logo">
                    <div class="d-flex justify-content-center">
                      <div class="col-md-6 bg-success" style="padding: 10px;">
                        <h2 class="text-uppercase text-white">Create your own desktop with pages!</h2>
                      </div>
                    </div>
                </header>
            </div>
        </section>

        <section id="about" class="bg-success">
            <div class="triangle-down mx-auto"></div>
            <div class="jumbotron container text-center text-white">
                <header>
                    <h1>What is ForestLink?</h1>
                </header>

                <article>
                    <h4>
                        {% lorem %}
                    </h4>
                </article>                
            </div>
        </section>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#fff" fill-opacity="1" d="M0,192L288,192L576,128L864,160L1152,224L1440,160L1440,320L1152,320L864,320L576,320L288,320L0,320Z"></path>
        </svg>      

        <section id="features" class="bg-white">
          <div class="jumbotron container text-center">
            <header>
              <h1>Features</h1>
            </header>

              <section>
                <div class="row g-0 justify-content-center">
                  <div class="col-md-3 features-icon">
                    {% fa5_icon 'shield-alt' 'fas fa-5x' %}
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-start">
                      <article>
                        <header class="card-title"> <h4>Safety</h4> </h4>
                        <p>
                          You can report any website which you think is causing any harm for users and we will block it. 
                          By blocking that page, we will prevent users from adding this site to their desktops. 
                          All of the reports are checked by our staff. You can also view the status of the domain 
                          name which you reported on the <a href="{% url 'report' %}" class="text-decoration-none">report site</a>.
                        </p>
                      </article>
                    </div>
                  </div>
                </div>                
              </section>

              <section>
                <div class="row g-0 justify-content-center">
                  <div class="col-md-3 features-icon">
                    {% fa5_icon 'tools' 'fas fa-5x' %}
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-start">
                      <article>
                        <header class="card-title"> <h4>Control</h4> </h4>
                        <p> 
                          Set custom background of the website tile and colour of the text. There is no strict rule about the URL 
                          of your site it can be a numeric IP address of anything inside of your network or just a regular domain name. 
                          You can edit or remove your page later on.
                        </p>
                      </article>
                    </div>
                  </div>
                </div>                
              </section>

              <section>
                <div class="row g-0 justify-content-center">
                  <div class="col-md-3 features-icon">
                    {% fa5_icon 'font-awesome-flag' 'fab fa-5x' %}
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-start">
                      <article>
                        <header class="card-title"> <h4>Icons</h4> </h4>
                        <p>
                          We have over one thousand Icons from <a href="https://fontawesome.com" class="text-decoration-none" target="_blank">FontAwesome</a> 
                          library, which are available for you to use. 
                          By using then you would be able to find the page which you're looking for much quicker by looking 
                          at the logo of the page. You don't need to browse all of the icons to find the right one, just type
                          the name of the platform and you will see the right icon for your page.
                        </p>
                      </article>
                    </div>
                  </div>
                </div>                
              </section>

        </section>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#fff" fill-opacity="1" d="M0,96L48,112C96,128,192,160,288,192C384,224,480,256,576,229.3C672,203,768,117,864,101.3C960,85,1056,139,1152,144C1248,149,1344,107,1392,85.3L1440,64L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
        </svg>

        <section id="start" class="bg-success">
          <div class="jumbotron container text-center text-white">
            <article class="text-uppercase">
              {% fa5_icon 'tree' 'fas fa-4x' %}
              <hr>
              <h1>Create your own desktop</h1>
              <h3>for free today!</h3>
              <a href="{% url 'login' %}">
                <button type="button" class="btn btn-outline-light btn-lg">{% fa5_icon 'tree' 'fas fa-1x' %} Create now</button>
              </a>
            </article>
          </div>
        </section>
    </main>

    <footer>
      <div class="container text-center jumbotron">

        <div id="goTop">
          <a class="btn btn-secondary footerTop">
            {% fa5_icon 'sort-up' 'fas fa-2x' %}
          </a>
        </div>

        <section style="margin-top: 30px;">
          <div class="row text-white justify-content-center">
            <div class="col-6 col-md-4">
              <article class="text-start">
                <h2>{% fa5_icon 'tree' 'fas fa-1x' %} ForestLink</h2>
                <hr>
                <h6> {% lorem %} </h6>
              </article>
            </div>

            <div class="col-6 col-md-4">
              <h2 class="text-start">User</h2>
              <hr>
              <ul class="list-group">
                <a href="{% url 'user' %}"><li class="list-group-item">{% fa5_icon 'desktop' 'fas' %} Your desktop</li></a>
                <a href="{% url 'report' %}"><li class="list-group-item">{% fa5_icon 'exclamation-triangle' 'fas' %} Report</li></a>
                <a href="{% url 'settings' %}"><li class="list-group-item">{% fa5_icon 'cog' 'fas' %} Settings</li></a>
              </ul>
            </div>

            <div class="col-6 col-md-4">
              <h2 class="text-start">Quick menu</h2>
              <hr>
              <ul class="list-group">
                <a href="{% url 'index' %}"><li class="list-group-item">{% fa5_icon 'home' 'fas' %} Home page</li></a>
                <a href="#" class="page1"><li class="list-group-item">{% fa5_icon 'pen' 'fas' %} About</li></a>
                <a href="#" class="page2"><li class="list-group-item">{% fa5_icon 'align-right' 'fas' %} Features</li></a>
                <a href="#" class="page3"><li class="list-group-item">{% fa5_icon 'play' 'fas' %} Get started</li></a>
              </ul>
            </div>
          </div>
        </section>
      </div>

      <section id="bottomFooter">
        <h5>ForestLink &copy; <script>document.write(new Date().getFullYear())</script>
      </section>

    </footer>
{% endblock %}