{% extends "forest/layout.html" %}
{% load fontawesome_5 static %}

{% block title %} Report {% endblock %}

{% block body %}

<main>
    {% fontawesome_5_static %} 
    <section style="margin-bottom: 20px;">
        <!-- [ REPORT PAGE SECTION WITH FORM ] -->
        <div class="container bg-dark text-white text-center" style="padding: 20px;">
            <header>
                <h1>Report page</h1>
            </header>
            <section style="padding: 20px;">
                <div class="d-flex justify-content-center">
                    <div class="col-md-6">
                        <form action="{% url 'processReport' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <input type="text" class="form-control form-control-lg" placeholder="URL of the website" name="reportPage">
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button type="submit" class="btn btn-danger btn-lg">Report page</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>          
    </section>

    <section style="margin-bottom: 20px;">
        <!-- [ REPORT PAGE SECTION WITH FORM ] -->
        <div class="container bg-dark text-white text-center" style="padding: 20px;">
            <header>
                <h1>Report history</h1>
            </header>

            {% if all_reports %}
                <div class="table-responsive">
                    <table class="table table-dark text-start table-lg">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Nr.</th>
                                <th scope="col">Site URL</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in all_reports %}
                                <tr>
                                    <th scope="row">{{ report.id }}</th>
                                    <td>{{ report.page }}</td>
                                    <td class="{{report.get_status_display}}">
                                        {{ report.get_status_display }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>               
            {% else %}
                <div class="alert alert-info" role="alert">
                    Nothing to display here yet.
                </div>            
            {% endif %}         

        </div>          
    </section>

    <nav class="navbar fixed-bottom navbar-dark bg-success navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ForestLink</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">{% fa5_icon 'home' 'fas' %} Home page</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="{% url 'user' %}">{% fa5_icon 'desktop' 'fas' %} Your desktop</a>
                </li>                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'report' %}">{% fa5_icon 'exclamation-triangle' 'fas' %} Report</a>
                </li>
              </ul>

              <span class="navbar-text">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
                  <li class="nav-item">
                    <a class="nav-link" href="#">Hi, <b>{{ user.username }}</b>!</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'settings' %}">{% fa5_icon 'cog' 'fas' %} Settings</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">{% fa5_icon 'sign-out-alt' 'fas' %} Logout</a>
                  </li>   
                </ul>             
              </span>
            </div>
        </div>
    </nav>
    
</main>

{% endblock %}