{% extends "forest/layout.html" %}
{% load fontawesome_5 static %}

{% block title %} Settings {% endblock %}

{% block body %}
    {% fontawesome_5_static %} 
    <main>
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 card">
                        <div class="card-body">
                            <header>
                                <h2><a href="{% url 'user' %}">{% fa5_icon 'arrow-left' 'fas' %}</a> Account settings</h2>
                                <hr>
                            </header>
                
                            <form action="#" method="POST">
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" class="form-control" id="username" value="{{ request.user.username }}">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address:</label>
                                    <input type="text" class="form-control" id="email" value="{{ request.user.email }}">
                                </div>
                                <div class="form-group">
                                    <label for="password">Current password:</label>
                                    <input type="password" class="form-control" id="password">
                                </div>
                                <div class="form-group">
                                    <label for="newPassword">New password:</label>
                                    <input type="password" class="form-control" id="newPassword">
                                </div>
                                <div class="form-group" style="margin-top: 20px;">
                                    <button type="submit" class="btn btn-success">Save changes</button>
                                </div>
                            </form>

                            <section style="margin-top: 20px;">
                                <div class="alert alert-danger" role="alert">
                                    <h5>Remove account</h5>
                                    <hr>
                                    <p>By removing oyur account you will lose all of your data. There would be no way to get your data back!</p>
                                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeModal">Remove account</button>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Modal -->
    <div class="modal fade bg-danger" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeModal">Remove account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure? <b>This action is not reversable!</b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger">Remove account</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}