{% extends "forest/layout.html" %}
{% load fontawesome_5 static %}

{% block title %} Home page {% endblock %}

{% block addons %}
  <script src="{% static 'forest/js/managePage.js' %}"></script>
{% endblock %}

{% block body %}
  {% fontawesome_5_static %} 

    <nav class="navbar fixed-bottom navbar-dark bg-success navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ForestLink</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">{% fa5_icon 'home' 'fas' %} Home page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" id="edit" value="off">{% fa5_icon 'pen' 'fas' %} <b>Edit pages</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">{% fa5_icon 'exclamation-triangle' 'fas' %} Report</a>
                </li>
              </ul>

              <span class="navbar-text">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
                  <li class="nav-item">
                    <a class="nav-link" href="#">Hi, <b>{{ user.username }}</b>!</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">{% fa5_icon 'cog' 'fas' %} Settings</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">{% fa5_icon 'sign-out-alt' 'fas' %} Logout</a>
                  </li>   
                </ul>             
              </span>
            </div>
        </div>
    </nav>

    <main>    
        <!--[ Add button for your pages ]-->

        <section>
          <div class="d-flex justify-content-center" style="margin-top: 30px;">
            <button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#addPage">{% fa5_icon 'plus' 'fas' %} Add page</button>
          </div>
        </section>

        <!-- [Display all user pages] -->

        <section style="margin-top: 20px;">
          <div class="container">
            <div class="row justify-content-center">
              {% for page in all_pages %}
                <div class="col col-md-2 page">
                  <div class="card" style="background: {{ page.page_color.background_color }};">
                    <a href="{{ page.page_url }}" class="text-decoration-none site-link" target="_blank">
                      <div class="card-body text-center fa-2x" style="color: {{ page.page_color.text_color }};">
                        {{ page.page_icon.as_html }}
                      </div>
                      <div class="card-footer text-center" style="color: {{ page.page_color.text_color }};">
                        <h5 class="card-title">{{ page.page_name }}</h5>
                      </div>
                    </a>
                  </div>

                    <div class="control-buttons card bg-secondary" style="margin-top: 10px;">
                      <div class="d-flex bd-highlight">
                        <div class="p-2 flex-fill bd-highlight">
                          <button type="button" class="btn btn-primary btn-sm btn-block">{% fa5_icon 'pen' 'fas' %}</button>
                        </div>
                        <div class="p-2 flex-fill bd-highlight">
                          <button type="button" data-id={{ page.id }} class="btn btn-danger btn-sm btn-block removeButton">{% fa5_icon 'trash' 'fas' %}</button>
                        </div>
                      </div>
                    </div>   

                </div>
              {% endfor %}
            </div>
          </div>
        </section>

    </main>

  <!-- Add page modal -->
  <div class="modal fade" id="addPage" tabindex="-1" aria-labelledby="addPageLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addPageLabel">Add page</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'addPage' %}" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
              <label for="page">Page URL:</label>
              <input type="text" class="form-control" id="page" name="pageURL" placeholder="https://google.com">
            </div>
            <br>
            <div class="form-group">
              <label for="titleInput">Title:</label>
              <input type="text" class="form-control" id="titleInput" name="title" placeholder="Google search">
            </div>
            <br>
            <div class="row">

              <div class="col">
                <div class="form-group">
                  <label for="bgColorInput">Background color:</label>
                  <input type="color" class="form-control" name="bgColor" id="bgColorInput" value="#fff">
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label for="txtColorInput">Text color:</label>
                  <input type="color" class="form-control" name="textColor" id="txtColorInput" value="#000">
                </div>
              </div>

            </div>
            <br>
            <div class="form-group">
              {{ icons_dropdown }}
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success">Add this page</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Remove modal -->
  <div class="modal fade" id="removePage" tabindex="-1" aria-labelledby="removePageLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="removePageLabel">Remove page</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

          <div class="modal-body">

            <b>This action can't be reversed.</b> Would you like to continue?

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <form action="{% url 'remove_page' %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger" name="removeID" id="confirmRemove">Remove it</button>
            </form>  
          </div>
      </div>
    </div>
  </div>  

{% endblock %}