{% extends "forest/layout.html" %}

{% block title %} Home page {% endblock %}

{% block body %}

    <nav class="navbar fixed-bottom navbar-dark bg-success navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ForestLink</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Home page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
              </ul>

              <span class="navbar-text">
                Hi, <b>{{ user.username }}</b>!
              </span>
            </div>
        </div>
    </nav>

    <main>
        <!--[ Displaying messages ]-->

        <section>
          <div class="container text-center">
            {% if 'error' in request.session %}
              <div class="alert alert-danger" role="alert">
                <b>{{ request.session.error }}</b>
              </div>
            {% endif %}
            {% if 'success' in request.session %} 
              <div class="alert alert-success" role="alert">
                {{ request.session.success }}
              </div>
            {% endif %}
          </div>   
        </section>

        <!--[ Add button for your pages ]-->

        <section>
          <div class="d-flex justify-content-center" style="margin-top: 30px;">
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addPage">Add page</button>
          </div>
        </section>

        <!-- [Display all user pages] -->

        <section style="margin-top: 20px;">
          <div class="container">
            <div class="row justify-content-center">
              {% for page in all_pages %}
                <div class="col col-md-2">
                  <div class="card" style="background: {{ page.page_color.background_color }};">
                    <a href="{{ page.page_url }}" class="text-decoration-none" target="_blank">
                      <div class="card-body text-center">
                        <h5 class="card-title" style="color: {{ page.page_color.text_color }};">{{ page.page_name }}</h5>
                      </div>
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </section>

    </main>

  <!-- Add page modal -->
  <div class="modal fade" id="addPage" tabindex="-1" aria-labelledby="addPageLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addPageLabel">Add page</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'addPage' %}" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
              <label for="page">Page URL:</label>
              <input type="text" class="form-control" id="page" name="pageURL" placeholder="https://google.com">
            </div>
            <div class="form-group">
              <label for="titleInput">Title:</label>
              <input type="text" class="form-control" id="titleInput" name="title" placeholder="Google search">
            </div>
            <div class="form-group">
              <label for="bgColorInput">Background color:</label>
              <input type="color" class="form-control" name="bgColor" id="bgColorInput" value="#fff">
            </div>
            <div class="form-group">
              <label for="txtColorInput">Text color:</label>
              <input type="color" class="form-control" name="textColor" id="txtColorInput" value="#000">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success">Add this page</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}